html {
    position:   relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    color:         white;
}

body > .container {
    padding: 20px 15px 0;
}

.footer {
    position:         absolute;
    bottom:           0;
    width:            100%;
    /* Set the fixed height of the footer here */
    height:           60px;
    line-height:      60px; /* Vertically center the text there */
    background-color: #363b3f;
}

.footer > .container {
    padding-right: 15px;
    padding-left:  15px;
}

image {
    text-align: center;
}

a {
    color: white;
}

.ProfilePicture {
    max-width:      35pt;
    border-radius:  50%;
    margin-left:    -5pt;
    grid-row-start: 1;
    grid-row-end:   3;
    margin-right:   10px;
}

.ProfilePictureBig {
    max-width:        300px;
    max-height:       300px;
    width:            100%;
    height:           100%;
    min-width:        50px;
    min-height:       50px;
    background-color: #363b3f;
    border:           solid #363b3f 10px;
    border-radius:    10px;
}

.btn-color-inverted {
    background-color: #24282a;
    border:           none;
}

.btn-color-inverted:hover {
    background-color: #363b3f;
}

.btnComment {
    border-radius: 0.25rem;
}

.btnComment:hover {
    background-color: #3f4447;
}

.collapseReversed.show {
    display: none;
}

.multi-collapse {
    position:    relative;
    margin-left: 11.5pt;
    width:       98%;
}

image {
    margin-right: 20pt;
}

p {
    margin: 0;
}

.like {
    width: 2pt;
}

.profile {
    width: 150pt;
}

.row input {
    margin-bottom: 15pt;
}

input#password.form-control {
    margin-bottom: 10pt;
}

.btn-secondary {
    border-radius:    0.5rem;
    background-color: #363b3f;
    border:           none;
}

.btn-secondary:hover {
    background-color: #24282a;
}

.btn:focus {
    background-color: #24282a;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #000;
}

.dropdown-item {
    color: #fff;
}

.card-header {
    display:         flex;
    justify-content: space-between;
}

.navbar-collapse a {
    margin-right: 20pt;
}

.tab-pane #uname {
    font-size: 30pt;
}

.tab-content #v-pills-tabContent input {
    font-size: 15pt;
}

.card-body, .card-header, .card-footer {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-pills .nav-link.active {
    color: white;
}

.alert {
    border: 1px solid #ffffff66;
}

small {
    text-align: end
}

a image {
    padding:   3pt 10pt 0 3pt;
    max-width: 55pt;
}

a {
    color: #69a8bb;
}

.btn-primary {
    border-right:  0.1rem;
    margin-bottom: 7px;
}

.grid {
    display:               grid;
    grid-template-columns: min-content max-content;
    grid-template-rows:    min-content min-content;
    align-content:         start;
}

.flex {
    display:         flex;
    justify-content: space-between;
}

small {
    text-align: start;
}

.btnComment img {
    width: 2rem;
}


a#dropdownMenuLink, a.btnComment img {
    opacity: 80%;
}

a.btn-primary img {
    padding:   3pt 10pt 0 3pt;
    max-width: 55pt
}

div.card-body form {
    margin-bottom: 10px;
    margin-top:    10px
}

button.btn-primary img {
    width: 30px
}

a.btnComment img {
    width: 2rem;
}

.file {
    opacity:  0;
    width:    0.1px;
    height:   0.1px;
    position: absolute;
}

.file-input {
    position:        relative;
    border-radius:   25px;
    display:         flex;
    align-items:     flex-end;
    justify-content: left;
    font-weight:     bold;
    cursor:          pointer;
    margin-bottom:   10px;
}

.pen {
    max-width:   40px;
    max-height:  40px;
    margin-left: 5px;
}

@media (max-width: 991.98px) {
    .navbar-brand {
        display: none;
    }

    .col-3 {
        padding-left: 0;
    }

    .col-6 {
        max-width: 100%;
        flex:      100%;
    }

    .col-6-profile {
        max-width:    100%;
        flex:         100%;
        padding-left: 0;
    }

    .col-9 {
        padding-left: 0;
    }

    .navbar {
        display:               grid;
        grid-template-columns: 35% 65%;
        justify-items:         left;
    }
}

@media (max-width: 380.5px) {
    .footer {
        line-height: 30px;
    }
}

.navbar-light .navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.alert-message {
    color:            #80cb5f;
    background-color: rgba(0, 169, 80, 0.27);
    border-color:     #649d6c;
}

.nav-link {
    color: #fff;
}

.heart {
    height: 35px;
}

.verification {
    height: 25px;
}